body {
    background: #141100;
}

h1 {
  color: #b3b3b3;
  
}
.c {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1300px;
    height: 3000px;
    background: #b3b3b3;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(54, 47, 27, 0.274);
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 30px;
    text-align: center;
    width: 50%;
    background: rgba(105, 92, 92, 0.322);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background:#ffd90080 ;
  }
  
  
  
button {
  border: none;
  
    
  }

.reflection {
   font-size:large ;
   font-weight: bolder;
  }
    


  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: rgb(192, 185, 185);
    padding: 50px;
    width: 100%;
    height: 60%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 500px;
    height: 5px;
    background: #222;
    margin-bottom: 10px;
  }
  .content p {
    width: 100%;
    height: 10%;
  }
  .active-content {
    display: block;
  }

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  
}
.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.icon {
  font-size: 7rem;
  color: white;
}

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 100vw;
  height: 1000px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s linear;
  
  
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}




.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: black;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: black;
}

.prev,
.next {
  position: absolute;
  top: 500px;
  transform: translateY(-50%);
  background:#3b340b80 ;
  color: rgb(61, 56, 56);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.1 linear;
}
.prev:hover,
.next:hover {
  background:#b3b3b3 ;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  } 

  
}